<h1>My Beautiful Blog Page </h1>

<div id="articles">
    

   <%= button_to "Create a New Blog", { :action => "new" }, :method => :get %>
   <%= button_to "Browse tags", tags_path, :method => :get %>
 
<br>
</br>
<% blogs = Article.all.sort_by {|article| article.impressionist_count}.reverse %>
<h2 align="center"> <b>Current Top 3 blogs:</b> </h2>
<table id="table1">

   <tr class="<%= 'header' -%>">
   <th><b>Title</b></th>
   <th id="count"><b>Views</b></th>
  </tr>
  <%if blogs.size != 0 %>
    <% blogs[0..2].each do |article| %>
      <tr class="<%= 'blog' -%>">
      <td><%= link_to article.title, article, class: 'article_title' %> </td>
      <td id="count"><%= article.impressionist_count%></td>
      </tr>

    <% end %>
  <%else %>
    <em>No Blogs Found</em>
  <% end %>
</table>
<br>
</br>
<h1><b>Blog list:</b></h1>
  <% @articles.each do |article| %>

    <li>
      <%= link_to article.title, article, class: 'article_title' %>
    </li>
    
  <% end %>

  <br>
 </br>
</div>
