<h1>All Blogs</h1>

<ul id="articles">
  <li>
  <%= link_to "Create a New Blog", new_article_path, class: 'new_article'%>
   </li>
<br>
</br>
<% blogs = Article.all.sort_by {|article| article.impressionist_count}.reverse %>
<h2> <b>Current Top 3 blogs:</b> </h2>
<table class="<%= 'big_table' -%>">
   <tr class="<%= 'header' -%>">
   <th><b>Title</b></th>
   <th><b>Views</b></th>
  </tr>
  <%if blogs.size != 0 %>
    <% blogs.each do |article| %>
      <tr class="<%= 'blog' -%>">
      <td><%= link_to article.title, article, class: 'article_title' %> </td>
      <td><%= article.impressionist_count%> </td>
      </tr>

    <% end %>
  <%else %>
    <em>No Blogs Found</em>
  <% end %>
</table>
<br>
</br>
<h2><b>Blog list:</b></h2>
  <% @articles.each do |article| %>

    <li>
      <%= link_to article.title, article, class: 'article_title' %>
    </li>
    
  <% end %>

  <br>
 </br>
    <br>
      <li>
        <%= link_to "Browse tags", tags_path, class: 'new_article' %>
    </li>
  </br>
</ul>